:root {
    --container-width: 1140px;
    --color-blue: #0A67A9;
    --color-dark-blue: #084587;
    --color-near-black: #323232;
    --color-dark-grey: #5B5B5D;
    --color-light-grey: #E4E5E7;
    --color-near-white: #F9F9FA;
    --line-height: 1.5;
    font-family: 'Roboto', sans-serif;
}
html {
    scroll-behavior: smooth;
    background-color: white;
}
a {
    color: var(--color-blue);
}
a:hover {
    text-decoration: none;
}
span.highlight-dark {
    color: var(--color-dark-grey);
}
div.container {
    max-width: var(--container-width);
    margin-left: auto;
    margin-right: auto;
    padding: 0.5rem 2rem;
}
nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid var(--color-light-grey);
    background-color: white;
}
nav a {
    display: inline-block;
    padding: 0.5rem;
    color: var(--color-dark-grey);
    font-size: 1.2rem;
    text-decoration: none;
}
nav a:hover {
    text-decoration: underline;
    color: var(--color-blue);
}
nav a.nav-logo {
    color: var(--color-blue);
    font-weight: 700;
    font-size: 1.5rem;
}
header {
    padding: 6rem 3rem;
}
header h1 {
    font-size: 3rem;
    color: var(--color-blue);
}
header p {
    font-size: 2rem;
    color: var(--color-near-black);
    line-height: var(--line-height);
}
article {
    padding: 3rem;
}
.article-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.article-main {
    max-width: 700px;
}
.article-sidebar {
    width: 260px;
    background-color: var(--color-near-white);
    border: 1px solid var(--color-light-grey);
    border-radius: 0.3rem;
    padding: 0.5rem;
    margin-top: 1rem;
}
article h1 {
    font-size: 2.5rem;
    color: var(--color-dark-grey);
    border-left: 0.5rem solid var(--color-blue);
    padding-left: 1rem;
}
article h2 {
    font-size: 1.4rem;
    color: var(--color-blue);
}
article p, article ul {
    font-size: 1.2rem;
    color: var(--color-near-black);
    line-height: var(--line-height);
}
article ul {
    list-style: none;
}
.sidebar-heading {
    padding-left: 1rem;
}
section.project {
    max-width: 300px;
    background-color: var(--color-near-white);
    border: 1px solid var(--color-light-grey);
    border-radius: 0.3rem;
    margin: 1rem 0.5rem;
}
.projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.project-screenshot {
    max-width: 100%;
    border-radius: 0.3rem 0.3rem 0rem 0rem;
}
.project-description {
    padding: 0 1.5rem;
}
.project p {
    font-size: 1.1rem;
    line-height: 1.8;
}
.project-button {
    display: inline-block;
    cursor: pointer;
    color: white;
    background-color: var(--color-blue);
    border: 1px solid var(--color-dark-grey);
    border-radius: 0.3rem;
    padding: 1rem;
    text-decoration: none;
    transition-property: background-color;
    transition-duration: 0.5s;
}
.project-button:hover {
    background-color: var(--color-dark-blue);
}
@media(max-width: 819px) {
    header {
        padding: 4rem 3rem;
    }
    header h1 {
        font-size: 2rem;
    }
    header p {
        font-size: 1.5rem;
    }
    article {
        padding: 3rem 1.5rem;
    }
    article h1 {
        font-size: 2rem;
    }
}
@media(max-width: 599px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
    }
    header {
        padding: 2rem 0.5rem;
    }
    header h1 {
        font-size: 2rem;
    }
    header p {
        font-size: 1.2rem;
    }
    article {
        padding: 2rem 0.5rem;
    }
    article h1 {
        font-size: 1.8rem;
    }
}
@media(max-width: 399px) {
    div.container {
        padding: 1rem;
    }
    section.project {
        max-width: 270px;
        margin: 1rem 0rem;
    }
    .project-screenshot {
        width: 270px;
    }
}
@media print {
    div.container {
        max-width: 100%;
        padding-left: 1rem;
    }
    nav {
        display: block;
        border-bottom: 0px;
    }
    a.nav-section {
        display: none;
    }
    header {
        padding: 0.5rem;
    }
    header h1 {
        font-size: 1.5rem;
    }
    header p {
        font-size: 1rem;
    }
    article {
        padding: 0.5rem;
    }
    .article-container {
        display: block;
    }
    .article-main {
        max-width: 100%;
    }
    .article-sidebar {
        width: 100%;
        background-color: none;
        border: 0px;
        padding: 0rem;
        margin-top: 1rem;
        margin-left: 0rem;
    }
    article h1 {
        font-size: 1.5rem;
    }
    article h2 {
        font-size: 1.2rem;
    }
    article p, article ul {
        font-size: 1rem;
    }
    article ul {
        list-style: inside;
    }
    section.project {
        max-width: 100%;
        background-color: none;
        border: 0px;
        margin: 1rem 0rem;
    }
    .projects {
        display: block;
    }
    .project-screenshot {
        display: none;
    }
    .project-description {
        padding: 0;
    }
    .project p {
        font-size: 1rem;
        line-height: 1.6;
    }
    .project-button {
        display: none;
    }
}